setuptools>=67.6.1
astroid>=2.11.7
click>=8.0.4
dill>=0.3.4
pathlib>=1.0.1
cython>=0.29.34
Flask>=2.0.3
isort>=5.10.1
itsdangerous>=2.0.1
Jinja2>=3.0.3
lazy-object-proxy>=1.7.1
MarkupSafe>=2.0.1
pyvips>=2.2.1
pybind11>=2.10.4
matplotlib>=3.7.1
mccabe>=0.7.0
platformdirs>=2.4.0
pylint>=2.13.9
psutil>=5.9.4
tomli>=1.2.3
tomlkit>=0.11.6
typing_extensions>=4.1.1
Werkzeug>=2.0.3
RPi.GPIO>=0.7.1
picamera>=1.13.0
pillow>=9.5.0
python-ffmpeg>=1.0.15
sqlitedict>=2.1.0
flask_cors>=3.0.10
pyserial>=3.5
gevent>=22.10.2
gevent-websocket>=0.10.1
greenlet
numpy>=1.24.2
nptyping>=2.5.0
